.ham-container {
    height: 2.4em;
    width: 0;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.ham-line {
    height: 0.5em;
    z-index: 6;
    width: 2.7em;
    color: black;
    background-color: #004d81;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

.ham-container:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    .ham-container {
        width: 5em;
        display: flex;
    }

    .ham-line {
        position: sticky;
    }

}