.header-container {
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 10em;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: left;
    padding-left: 5em;
}

nav {
    flex: 4;
}

.nav-links {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #004d81;
}

.nav-links Link {
    text-decoration: none;
    color: #004d81;
}

.nav-link {
    list-style: none;
    font-size: 20px;
    color: #004d81;
}

.inform-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1em;
}

.inform-button {
    background-color: #004d81;
    border: solid 2px #004d81;
    border-radius: 7%;
    height: 4em;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.inform-button, .nav-link {
    transition: all 0.2s ease-in-out;
}

.inform-text {
    color: white;
    font-size: 24px;
}

img {
    height: 100%;
}

.inform-button:hover {
    background-color: white;
}

.inform-button:hover .inform-text {
    color: #004d81;
}

.nav-link:hover {
    font-weight: bolder;
}

@media screen and (max-width: 1024px) {
    nav {
        display: none;
    }

    .logo-container {
        justify-content: center;
        align-items: center;
        padding: 0 2em;
    }

    .inform-container {
        display: none;
    }
}