.add-link-wrapper {
  background-color: #004d81;
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  margin-bottom: 100em;
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: scroll;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.add-link-wrapper p {
  margin-bottom: 0.3em;
}

.manage-field {
  margin-bottom: 0.5em;
}

.manage-login-fields label {
  font-size: 18px;
}

.manage-field-input {
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border-width: 0;
  padding-left: 1em;
  font-size: 16px;
}

#manage-desc-input {
  height: 8em !important;
}

.manage-submit-button {
  width: 100%;
  height: 3em;
  border-radius: 7px;
  border-width: 0;
  color: #004d81;
  background-color: #ecf5fa;
  font-size: 20px;
  font-weight: bold;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(162, 162, 162, 0.6);
  height: 100vh;
  width: 100%;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-card {
  height: 50em;
  width: 80em;
  padding: 1em;
  background-color: white;
  overflow-y: scroll;
}

.modal-title-div {
  font-weight: bolder;
  color: #004d81;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.manage-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin-bottom: 1em;
}

#add-check {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: white;
  margin-right: 1em;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.modal-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5em;
  font-size: 1em;
}

.add-link {
  width: 10em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004d81;
  font-size: 14px;
  color: white;
  margin-bottom: 1em;
  border-radius: 10px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  margin-right: 1em;
}

#remove-link {
  background-color: red !important;
}

.link-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.modal-title {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.del-item-container {
  width: 100%;
  height: 2em;
  background-color: red;
  margin-bottom: 1em;
  border-radius: 7px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: white;
}

.modal-close:hover {
  cursor: pointer;
}

.manage-room-list tr, th, td {
  color: black;
  font-weight: normal;
  font-size: 8;
}

tr:nth-child(1) {
  background-color: whitesmoke !important;
  color: black !important;
}

tr:nth-child(odd) {
  background-color: #004d81;
  color: white !important;
}

table {
  width: 100%;
  font-size: 16px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

th, td {
  text-align: left;
  padding: 15px;
}

.sub-tr:hover {
  cursor: pointer;
}

.add-link:hover {
  cursor: pointer;
  color: #004d81;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: #004d81;
}

#remove-link:hover {
  background-color: white !important;
  color: red;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  cursor: pointer;
}

.del-item-container:hover {
  background-color: white !important;
  color: red;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  cursor: pointer;
}
/*# sourceMappingURL=ManageRoom.css.map */