$uscalt-blue: #004d81;

.page-room-img {
    background-color: gray;
    height: 12em;
    width: 12em;
    border-radius: 10px;
    margin: 0 1em 0 0;
}

.page-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: $uscalt-blue;
}

.page-room-name {
    font-size: 5em;
    font-weight: bolder;
    color: $uscalt-blue;
}

.page-room-dev {
    font-size: 2em
}

.page-info-container {
    display: flex;
    flex-direction: column;
}